<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOG_LEVEL" source="logging.level.root" defaultValue="INFO"/>
    <springProperty name="LOG_MAX_HISTORY" source="logging.logback.max-history" defaultValue="30"/>
    <springProperty name="LOG_MAX_FILE_SIZE" source="logging.logback.max-file-size" defaultValue="10MB"/>
    <springProperty name="LOG_TOTAL_SIZE_CAP" source="logging.logback.total-size-cap" defaultValue="100MB"/>
    <springProperty name="LOG_CLEAN_HOSTORY_ON_START" source="logging.logback.clean-history-on-start" defaultValue="true"/>
    <springProperty name="LOG_FILE" source="logging.file.name"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>application.%d{yyyy-MM-dd-HH:mm:ss.SSS}.log</fileNamePattern>
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
            <maxFileSize>${LOG_MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${LOG_TOTAL_SIZE_CAP}</totalSizeCap>
            <cleanHistoryOnStart>${LOG_CLEAN_HOSTORY_ON_START}</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <springProfile name="!container">
        <root level="${LOG_LEVEL}">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="container">
        <root level="${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>